{
  "openapi": "3.1.0",
  "info": {
    "title": "Faseeh API",
    "description": "Faseeh - First True Arabic Voice AI that speaks Dialects From Abu Dhabi to Rabat with Voice Cloning & On-prem support",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.faseeh.ai/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "summary": "Get Models",
        "description": "Retrieve a list of all available voice synthesis models",
        "operationId": "getModels",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/voices": {
      "get": {
        "summary": "Get Voices",
        "description": "Retrieve a list of all available voices for text-to-speech synthesis",
        "operationId": "getVoices",
        "tags": [
          "Voices"
        ],
        "responses": {
          "200": {
            "description": "List of available voices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Voice"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/text-to-speech/{model_id}": {
      "post": {
        "summary": "Generate Text-to-Speech",
        "description": "Generate speech from Arabic text using a specific model. Supports both streaming and non-streaming responses.",
        "operationId": "generateTextToSpeech",
        "tags": [
          "Text-to-Speech"
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "description": "The model identifier to use for generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio response (streaming or complete file)",
            "content": {
              "audio/raw": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "PCM16 audio stream (when streaming=true)"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "WAV audio file (when streaming=false)"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the model"
          },
          "model_id": {
            "type": "string",
            "description": "Model identifier used in API calls"
          },
          "model_name": {
            "type": "string",
            "description": "Human-readable model name"
          },
          "cost": {
            "type": "number",
            "description": "Cost per character for text-to-speech generation"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Detailed description of the model"
          }
        },
        "required": [
          "id",
          "model_id",
          "model_name",
          "cost"
        ]
      },
      "Voice": {
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string",
            "description": "Unique identifier for the voice (used in text-to-speech requests)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the voice"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Detailed description of the voice characteristics"
          },
          "gender": {
            "type": "string",
            "nullable": true,
            "enum": [
              "male",
              "female"
            ],
            "description": "Gender of the voice"
          },
          "age": {
            "type": "string",
            "nullable": true,
            "enum": [
              "middle",
              "elderly"
            ],
            "description": "Age category of the voice"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of language codes supported by the voice (e.g., [\"ar\", \"en\"])"
          },
          "dialect": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of dialects supported by the voice (e.g., [\"fusha\", \"emirati\", \"najdi\"])"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "neural"
            ],
            "description": "Voice type"
          },
          "sample_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to an audio sample of the voice"
          }
        },
        "required": [
          "voice_id",
          "name",
          "languages",
          "dialect",
          "sample_url"
        ]
      },
      "TextToSpeechRequest": {
        "type": "object",
        "required": [
          "voice_id",
          "text",
          "stability",
          "streaming"
        ],
        "properties": {
          "voice_id": {
            "type": "string",
            "description": "The voice ID to use for synthesis"
          },
          "text": {
            "type": "string",
            "description": "The Arabic text to convert to speech"
          },
          "stability": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Voice stability (0.0 to 1.0). Higher values produce more consistent output"
          },
          "streaming": {
            "type": "boolean",
            "description": "If true, returns streaming PCM16 audio. If false, returns complete WAV file"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "errorCode",
          "errorMessage"
        ],
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Error code identifier"
          },
          "errorMessage": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    }
  }
}